.Navbar-wrapper{
    display: flex;
    background: #424242;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0px;
    min-height: 86.4px;
    position: relative;
}
.Navbar-logo{
    text-decoration: none;
    color: white;
    font-family: ubuntu;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 0.04rem;
    padding: 8px;
    margin-left: 40px;
}
.Navbar-item-list{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
}
.Navbar-item{
    text-decoration: none;
    color:white;
    font-size:22px;
    margin: 10px;
    padding: 10px;
}
.Navbar-avatar{
    background: #fa577a ;
    border-radius: 50%;
    padding: 12px 12px;
    text-transform: uppercase;
}
